body {
	margin-bottom: 0px;
}

.page-header { 
	margin-top: 0;
}
.panel-body {
	padding-top: 0;
}

.featureImg {
	margin-bottom: 15px;
}

.footer1 {
        height: 60px;
      }
.footer1 {
        background-color: #E6E6E6;
      }
	  
